services:
  db:
    image: postgres:16.9
    environment:
      POSTGRES_DB: ${LOCAL_DB_NAME}
      POSTGRES_USER: ${LOCAL_DB_USER}
      POSTGRES_PASSWORD: ${LOCAL_DB_PASSWORD}
    ports:
      - "${LOCAL_DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  django:
    build: .
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://${LOCAL_DB_USER}:${LOCAL_DB_PASSWORD}@db:5432/${LOCAL_DB_NAME}
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  postgres_data: